body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #67C9FF, #A3DFF1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 120px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

/* Time Picker Modal */
#time-picker-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #f1f1f1;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}
