body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bbdefb; /* Light blue background */
  }
  
  .settings-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  header {
    background-color: #29b6f6; /* Blue header */
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
  }
  
  .back-button {
    font-size: 1.5em;
    cursor: pointer;
    padding: 5px;
  }
  
  main {
    padding: 20px;
  }
  
  .setting-item {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  .setting-item a {
    text-decoration: none;
    color: #333;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  